<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="net.smythtech.volumeControl"
    version="1.0.0">
    <name>VolumeControl</name>
    <description>Control volume related aspects of an android device.</description>
    <license>smythtech.net</license>

    <js-module src="www/volumeControl.js" name="volumeControl">
        <clobbers target="window.volumeControl" />
    </js-module>


    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VolumeControl" >
                <param name="android-package" value="net.smythtech.volumeControl.VolumeControl"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
        </config-file>
        <source-file src="src/android/VolumeControl.java" target-dir="src/net/smythtech/volumeControl" />
    </platform>

</plugin>
